*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    background-image: url(https://brasilturis.com.br/wp-content/uploads/2021/05/pipa-rn.jpg);
}

header{
    color: rgb(254, 254, 254);
    background-color: black;
    padding: 10px 0px 10px 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

h1{
    font-size: 20px;
}

.titulo{
    margin-left: 80px;
}
.subtitulo{
    color: black;
    padding: 0px 0px 0px 4px;
    font-size: 15px;
    width: 105px;
    margin-left: 10px;
    position: absolute;
    top: 14px;
    left: 130px;
    background-color: rgb(252, 252, 252);
    border-radius: 4px;
}
    
.pipa{
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    position: absolute;
    left: 50px;
    top: 300px;
    font-size: 80px;
    background-color: black;
    color: rgb(250, 250, 250);
    padding: 0px 0px 0px 0px;
}

.resumo-inicial{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px 5px;
    text-align: justify;
    position: absolute;
    width: 720px;
    left: 50px;
    top: 380px;
    background-color: black;
    color: rgb(250, 250, 250);
    font-size: 24px;
    z-index: 10;
}

strong{
    font-weight: bolder;
    color: cornsilk;
}

.video{
    position: absolute;
    top: 650px;

}

.curiosidades{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    position: absolute;
    left: 50px;
    top: 1400px;
    height: 10px;
    font-size: 20px;
    background-color: black;
    color: rgb(250, 250, 250);

}

.lista-curiosidades{
    margin-left: 5px;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    left: 50px;
    top: 1500px;
    font-size: 20px;
    background-color: black;
    color: rgb(250, 250, 250);

}

li{
    list-style-type: disc;
}

.instagram{
    position: absolute;
    top: 1800px;
    left: 100px;
    border-radius: 30px;
}

.youtube{
    position: absolute;
    top: 1800px;
    left: 250px;
    border-radius: 30px;
}


